@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --dark-color: #323245;
    --light-color: #ffffff;

    --body-background-color: var(--light-color);
    --body-text-color: var(--dark-color);

    --header-background-color: var(--dark-color);
    --header-text-color: var(--light-color);
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
    background-color: var(--body-background-color);
    color: var(--body-text-color);
}

.app-layout,
.admin-layout,
.my-layout,
.blank-layout {
    display: grid;
    height: 100dvh;
}

.app-layout,
.my-layout {
    grid-template-rows: auto 1fr auto;
}

.admin-layout {
    column-gap: 1rem;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr;
    grid-template-areas: "header header"
                         "sidebar main";

    header {
        grid-area: header;
    }
    aside {
        grid-area: sidebar;
    }
    main {
        grid-area: main;
    }
}

.blank-layout {
    grid-template-rows: 1fr auto;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;

    @media (width >= 768px) {
        max-width: 720px;
    }

    @media (width >= 1400px) {
        max-width: 1320px;
    }
}

.container-fluid {
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}